/* The asterisk applies a box border around the whole page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*The body of the text is the main part where most the code is applied 
in this example a background colour is applied to the web page*/
body {
    background-color: #d9dcd6;
}

/* header area contains font-family and alternative font-family */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* h1 element will apply the largest heading 
it is important that there is a hierarchy on the page and that these coventions are met as standard*/


.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*this applies a colour on the characters seo in the main heading
 did have span now replaced with em)*/

.header h1 .seo {
    color: #d9dcd6;
}

/*There are two elements applied to header and nav; 
inside the header it applies the layout, settings and font styles to the navigation bar*/


.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* ul applies the structure for an unordered list which will be bullet pointed and spaced*/
.header ul {
    list-style-type: none;
}
/* This section applies the inline block to the navigation bar and sets the margin to the left
 so there is space for the company title*/

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*The a elements relate to any hyperlinked elements*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* paragraph elements applying a font 16 to any paragraphs in the code*/
p {
    font-size: 16px;
}

/* hero is an image source that links to a URL the size and position are set here*/
.Boardroom Image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* I have changed the HTML element name to aside*/

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Changed from div to section to make it more accessible*/

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Changed from div to section to make it more accessible*/

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Changed from div to section to make it more accessible*/

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* alt text applied to images to meet accessibility and SEO */

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Changed element name to footer to make it more accesible in the code*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*changed heading to h4 to meet the convention standards*/
.footer h4 {
    font-size: 20px;
}
